<p>El número de preguntas es: <%=preguntas%></p>
<p>El número de comentarios totales es: <%=comentarios%></p>
<p>El número medio de comentarios por pregunta es: <%=promedio%></p>
<p>El número de preguntas sin comentarios es: <%=sincomentarios%></p>
<p>El número de preguntas con comentarios es: <%=concomentarios%></p>
